html {
    min-height: 100%;
    position: relative;
}
html body {
    margin-bottom: 50px;
}
html .footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;
    background-color: #f5f5f5;
}
html .footer .footer-block {
    margin: 20px 0;
}